.notes_panel{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 840px;
}
.notes_panel > * {
    margin: 1rem 0;
}
.notes_action_buttons > *{
    margin: 0 1rem !important;
}
.add_note{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}