.notes_panel{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 840px;
}
.notes_panel > * {
    margin: 1rem 0;
}
.notes_action_buttons > *{
    margin: 0 1rem !important;
}
.add_note{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.note-heading{
    display: flex;
    justify-content: center;
}
.note-heading h2{
    color: var(--primary-dark);
    font-size: 2.5rem;
}

@media only screen and (max-width: 600px) {
    .notes_action_buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .note-heading h2{
        font-size: 1.5rem;
    }
}