.header {
  background-color: var(--secondary-light);
  height: 4rem;
}
.header_logo {
  font-size: 3rem;
  font-weight: 800;
  color: var(--primary-dark);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth_buttons {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .header_logo {
    font-size: 1.5rem;
  }
  .header.container > * {
    margin: 8px;
  }
  .auth_buttons  a{
    font-size: 0.6rem;
  }
}
